<section class="main">
    <header class="top-bar">
        <a routerLink="" routerLinkActive="active" ariaCurrentWhenActive="page">
            <span class="material-symbols-rounded">arrow_back</span>
        </a>
        <div class="title">Harmony</div>
    </header>
    <section class="container">
        <div class="majeure"></div>
        <div class="mineure fond-A"></div>
        <div class="mineure-harmo fond-A"></div>
        <div class="mineure-melo fond-A"></div>
        <div class="mineure-harmo-miroir fond-A"></div>


    </section>
</section>