@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-Black.ttf') format('truetype'); // 900
    font-weight: 900; // Roboto-Black
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-BlackItalic.ttf') format('truetype'); // 900
    font-weight: 900; // Roboto-Black
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-Bold.ttf') format('truetype'); // 700
    font-weight: 700; // Roboto-Bold
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-BoldItalic.ttf') format('truetype'); // 700
    font-weight: 700; // Roboto-Bold
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-Medium.ttf') format('truetype'); // 500
    font-weight: 500; // Roboto-Medium
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-MediumItalic.ttf') format('truetype'); // 500
    font-weight: 500; // Roboto-Medium
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-Regular.ttf') format('truetype'); // 400
    font-weight: 400; // Roboto-Regular
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-Italic.ttf') format('truetype'); // 400
    font-weight: 400; // Roboto-Regular
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-Light.ttf') format('truetype'); // 300
    font-weight: 300; // Roboto-Light
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-LightItalic.ttf') format('truetype'); // 300
    font-weight: 300; // Roboto-Light
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-Thin.ttf') format('truetype'); // 100
    font-weight: 100; // Roboto-Thin
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-ThinItalic.ttf') format('truetype'); // 100
    font-weight: 100; // Roboto-Thin
    font-style: italic;
  }