// Palette de couleurs globales

// color design tools:
// https://oklch.com
// https://paletton.com

:root {
  --primary-xxxxx: #4ca69a;
  --primary-xxxx: #79cbc0;
  --primary-xxx: #a9e6de;
  --primary-xx: #d8f8f3;
  --primary-x: #fdffff;

  --secondary-xxxxx: #5979ae;
  --secondary-xxxx: #84a0d0;
  --secondary-xxx: #b1c5e8;
  --secondary-xx: #dbe6f8;
  --secondary-x: #fdfeff;

  --opposite-xxxxx: #ff5d32;
  --opposite-xxxx: #ff7d5b;
  --opposite-xxx: #ff9b80;
  --opposite-xx: #ffbdac;
  --opposite-x: #ffe4dc;

  --primary-color: var(--primary-xxxx);
  --secondary-color: var(--secondary-xxxx);
  --background-color: var(--primary-x);
  --text-color: var(--primary-xxxxx);

  --box-shadows: 0 4px 8px rgba(0, 0, 0, 0.1);
}
