<section class="main">
  <header class="top-bar">
    <span class="material-symbols-rounded">menu</span>
    <div class="title">{{ appName }}</div>
  </header>
  <section class="container">
    <nav>
      <li>
        <a
          routerLink="/todo-list"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          ><span class="material-symbols-rounded">list_alt_check</span> To do
          list</a
        >
      </li>
      <li>
        <a
          routerLink="/bloc-note"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          ><span class="material-symbols-rounded">edit_document</span> Bloc
          Note</a
        >
      </li>
      <li>
        <a
          routerLink="/set-list"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          ><span class="material-symbols-rounded">swap_vert</span> Set list</a
        >
      </li>
      <li>
        <a
          routerLink="/harmony"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          ><span class="material-symbols-rounded">music_note</span> Harmony</a
        >
      </li>
    </nav>
  </section>
</section>
